{% extends 'cms/base.html' %}


{% block content %}
<section class="hero is-small is-link is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">パスワードリセット</h1>
            <div class="field">
                <label class="label">メールアドレス</label>
                <div class="control has-icons-left">
                    <form class="ui form" method="POST" action="">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
                        <button type="submit" class="button is_success">メールを送信する</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
