{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}UTAB</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
    <!-- NAVIGATION BAR -->
    <header>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <!-- LOGO -->
                <a class="navbar-item" href="/">
                    <img src="{% static 'images/logo.png' %}" width="10%" height="10%">
                </a>
                <!-- HAMBURGER MENU -->
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="my-menu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu" id="my-menu">
                <div class="navbar-end">
                    {% if user.is_authenticated %}
                    <div class="buttons">
                        <a class="button is-info navbar-item" href="{% url 'cms:user_detail' user.pk %}"><strong>Your Page</strong></a>
                        <a class="button is-warning navbar-item" href="{% url 'cms:favorite_thread' user.pk %}"><strong>お気に入り</strong></a>
                        <a class="button is-danger navbar-item" href="{% url 'cms:logout' %}"><strong>Log out</strong></a>
                    </div>
                    {% else %}
                <!--    <a class="navbar-item is-grey" href="#">About</a>  -->
                    <div class="buttons">
                        <a class="button is-primary navbar-item" href="{% url 'cms:signup' %}"><strong>Sign up</strong></a>
                        <a class="button is-info navbar-item" href="{% url 'cms:login' %}"><strong>Log in</strong></a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>
    <!-- MESSAGE -->
    {% for field, errors in form.errors.items %}
    <article class="message is-warning">
        <div class="message-body">
        {% for error in errors %}
            <p><strong>{{ error }}</strong></p>
        {% endfor %}
        </div>
    </article>
    {% endfor %}
    <!-- MAIN -->
    <main>
        {% block hero %}{% endblock %}
        {% block tab %}{% endblock %}
        {% block content %}{% endblock %}
    </main>
    <!-- FOOTER -->
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                2020 UTokyo Project Sprint <strong>UTAB</strong><br>
                <img src="{% static 'images/logo.png' %}" width="20%" height="20%">
            </div>
            <div class="content has-text-centered">
                <a href="#" class="has-text-dark">About</a> |
                <a href="#" class="has-text-dark">Contact</a> |
                <a href="#" class="has-text-danger">Report an issue</a>
            </div>
        </div>
    </footer>

    <!-- FOR JAVASCRIPT -->
    <script>
        <!-- FOR HAMBURGER MENU -->
        for (const burder of document.getElementsByClassName('navbar-burger')) {
            const menuId = burder.dataset.target;
            const menu = document.getElementById(menuId);
            burder.addEventListener('click', e => {
                burder.classList.toggle('is-active');
                menu.classList.toggle('is-active');
            });
        }
        {% block extrajs %}{% endblock %}
    </script>
</body>
</html>