{% extends 'cms/base.html' %}

{% block title %}お気に入りスレッド一覧 | {% endblock %}

{% block hero %}
<section class="hero is-small is-link is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">お気に入りのスレッド</h1>
            <h2 class="subtitle">Favorite Thread List</h2>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="tile is-ancestor">
            <div class="tile is-12 is-vertical is-parent">
                {% for thread in thread_list %}
                <div class="tile is-child box">
                    <a class="title is-4" href="{% url 'cms:post' pk=thread.pk %}">{{ thread }}</a>
                    <br>
                    <a class="title is-6"href="{% url 'cms:post' pk=thread.pk %}">{{ thread.code }}</a>
                    <!--<p>{{thread.code}}</p>-->
                    <!--<p>Lorem ipsum dolor sit</p>-->
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}