{% extends 'cms/base.html' %}

{% block title %}{% endblock %}
<!--ユーザ名を表示-->
{% block hero %}
<section class="hero is-success is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-64x64 is-left">
                        <img class="is-rounded" src="{{user.profile_picture.url}}">
                    </figure>
                </div>
                <div class="media-content">
                    <h1 class="title">
                        <!--<span class="icon is-small is-left"><i class="fas fa-user"></i></span>-->
                        {{ user.username }}
                    </h1>
                    <h2 class="subtitle">
                        {{ user.last_name }} {{ user.first_name }}
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="section">
    <div class="container is-mobile">
        <h1 class="title is-4">パスワード変更</h1>
        <h2 class="subtitle is-6">Change Password</h2>
        <form action="" method="POST">
            <div class="form-group">
                <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
            {% csrf_token %}
            <div class="control has-icons-left">
                
            {{form.as_p}}
            </div>
                    <button name="next" type="submit" value="confirm" class="button is-success">変更する</button>
                </div>
                </form>
                </div>
</section>
{% endblock %}