{% extends 'cms/base.html' %}

{% block title %}{{ thread }} | {% endblock %}

{% block hero %}
<section class="hero is-small is-success is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">{{ thread }}</h1>
            <h2 class="subtitle">{{ thread.faculty }} {{ thread.code }}</h2>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="section">
    <div class="container is-mobile">
    {% if favorite_flag %}
        <a class="button is-danger navbar-item" href="{% url 'cms:remove_favorite' thread.id %}"><strong>お気に入り解除</strong></a>            
    {% else %}
        <a class="button is-info navbar-item" href="{% url 'cms:add_favorite' thread.id %}"><strong>お気に入り登録</strong></a>         
    {% endif %}<br>
        <form method="post" action="">
            {% csrf_token %}
            <div class="field">
                <label class="label">新規投稿</label>
                <div class="control">
                    {{ form.message }}
                </div>
            </div>
            <div class="field">
                <p class="control">
                    <button name="next" type="submit" value="confirm" class="button is-success">投稿</button>
                </p>
            </div>
        </form>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="tile is-parent">
            <div class="tile is-12 is-vertical is-parent">
                <div class="tile is-child box">
                    {% for post in post_list %}
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-64x64 is-left">
                                    {% if post.created_by.profile_picture %}
                                        <img class="is-rounded" src="{{user.profile_picture.url}}">
                                    {% endif %}
                                </figure>
                            </div>
                            <div class="media-content">
                                <a class="title is-4" href="{% url 'cms:user_detail' post.created_by.id %}">{{ post.created_by }}</a>
                                <p></p>
                                <p class="title is-6">{{ post.created_at }}</p>
                            </div>
                        </div>
                        <div class="content">
                            {{ post.message }}
                        </div>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}