{% extends 'cms/base.html' %}
{% block title %} {{ block.super }}{% endblock %}
{% block content %}
<div class="section">
    <div class="container is-mobile">
        <div class="ui breadcrumb title is-5">
            <i class="right angle icon divider"></i>
        </div>
        <div class="ui segment">
            <div class="content">
                <div class="header">
                    <h3>ユーザー作成</h3>
                </div>
                <table class="table">
                    <tr>
                        <td>お名前</td>
                        <td>{{form.cleaned_data.username}}</td>
                    </tr>
                <!-- <tr>
                    <td>メールアドレス</td>
                    <td>{{form.cleaned_data.email}}</td>
                </tr> -->
                    <tr>
                        <td>パスワード</td>
                        <td>********</td>
                    </tr>
                </table>
                <form class="ui form" action="" method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                    {{field.as_hidden}}
                    {% endfor %}
                    <button class="button is-danger" name="next" value="back" type="submit">修正</button>
                    <button class="button is-success" name="next" value="regist" type="submit">登録</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}