{% extends 'cms/base.html' %}

{% block title %}{{ faculty }} | {% endblock %}

{% block hero %}
<section class="hero is-small is-success is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">{{ faculty }}</h1>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <a class="button is-info navbar-item" href="{% url 'cms:thread_add' %}"><strong>スレッドを追加</strong></a>  
        <div class="tile is-ancestor">
            <div class="tile is-12 is-vertical is-parent">
                {% for item in object_list %}
                {% if item.faculty == faculty %}
                <div class="tile is-child box">
                    <a class="title is-4" href="{% url 'cms:post' pk=item.pk %}">{{ item }}</a>
                    <br>
                    <a class="title is-6"href="{% url 'cms:post' pk=item.pk %}">{{ item.code }}</a>
                    <!--<a class="title is-4" href="{% url 'cms:post' pk=item.pk %}">{{ item }}</a>
                    <p>Lorem ipsum dolor sit</p>-->
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}