{% extends 'cms/base.html' %}

{% block title %}スレッド一覧 | {% endblock %}

{% block hero %}
<section class="hero is-small is-success is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">スレッド一覧</h1>
            <h2 class="subtitle">Thread List</h2>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="tile is-ancestor">
            <div class="tile is-12 is-vertical is-parent">
                {% for item in object_list %}
                <div class="tile is-child box">
                    <a class="title is-4" href="{% url 'cms:post' pk=item.pk %}">{{ item }}</a>
                    <br>
                    <a class="title is-6"href="{% url 'cms:post' pk=item.pk %}">{{ item.code }}</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}