{% extends 'cms/base.html' %}
{% load static %}

{% block title %}Home | {% endblock %}

{% block hero %}
<section class="hero is-medium is-info is-bold">
    <!--<div class="hero-body" style="background-image: url('{% static 'images/table.png' %}')">-->
        <div class="hero-body">
            <div class="container">
            <div class="has-text-centered">
            <h1 class="title">What's UTAB?</h1><br>
            <h2 class="subtitle">UTAB(UTokyo Academic Board)は、東京大学電気電子・電子情報工学科の学生により作成されました。<br>コロナ禍のなか、教室で雑談をし、課題について相談をする場所がなくなってしまいました。<br>UTABは、そのような貴重な場を、オンライン上て提供します。
            {% if user.is_authenticated %}
                <!--<a href="{% url 'cms:signup' %}"><strong>サインアップはこちらから</strong></a>-->
            <!--
            <a href="#">
                <button class="button is-info is-inverted is-outlined">
                    <strong>More Info</strong>
                </button>
            </a>-->
            </div>
            {%else%}
            <div class="has-text-centered has-text-danger">
                <a href="{% url 'cms:signup' %}"><strong>サインアップはこちらから</strong></a>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="section is-medium">
    <div class="container">
        <div class="has-text-centered">
            <h1 class="title">Announce</h1>
            <p>2020.5.28 UTAB β版をリリース。</p>
        </div>
    </div>
</section>
{% endblock %}