{% extends 'cms/base.html' %}

{% block title %}{{ user.username }} | {% endblock %}
<!--ユーザ名を表示-->
{% block hero %}
<section class="hero is-success is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-64x64 is-left">
                         {% if user.profile_picture %}
                        <img class="is-rounded" src="{{user.profile_picture.url}}">
                        {% endif %}
                    </figure>
                </div>
               
                <div class="media-content">
                    <h1 class="title">
                        <!--<span class="icon is-small is-left"><i class="fas fa-user"></i></span>-->
                        {{ user.username }}
                    </h1>
                    <h2 class="subtitle">
                        {{ user.last_name }} {{ user.first_name }}
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="section">
    <div class="container is-mobile">
        <h1 class="title is-4">ユーザー情報の更新</h1>
        <h2 class="subtitle is-6">Update your information</h2>
        <hr>
        <form method="post" class="post-form" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="field">
                <label class="label">ユーザーネーム</label>
                <div class="control has-icons-left">
                    {{ form.username }}
                    <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
                </div>
            </div>
            <!-- <div class="field">
                <label class="label">姓</label>
                <div class="control has-icons-left">
                    {{ form.last_name }}
                    <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
                </div>
            </div> -->
            <!-- <div class="field"> -->
                <!-- <label class="label">名</label>
                <div class="control has-icons-left"> -->
                    <!-- {{ form.first_name }}
                    <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
                </div>
            </div> -->
            <div class="field">
                <label class="label">Twitter</label>
                <div class="control has-icons-left">
                    {{ form.twitter }}
                    <span class="icon is-small is-left"><i class="fab fa-twitter"></i></span>
                </div>
            </div>
             <div class="field">
                 <label class="label">プロフィール画像</label>
                 <div class="control has-icons-left">
                     {{ form.profile_picture }}
                     <span class="icon is-small is-left"><i class="fab fa-twitter"></i></span>
                 </div>
             </div>
            <div class="field">
                <p class="control">
                    <input type="submit" value="保存" class="button is-success">
                    <input type="hidden" name="next" value="{{ next }}" >
                </p>
            </div>
        </form>
        <hr>
        <a href="{% url 'cms:user_delete' user.pk %}">
            <button class="button is-danger is-outlined">削除</button>
        </a>
    </div>
</section>
{% endblock %}